@using Domain.Models.Components;
@{
    ViewData["Title"] = "Add to cart";
    Layout = null;

}

<link href="~/styles/public/onlineshop.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
<div class="Main">
    <header class="top-bar">
        <div class="top-bar__left">
            <a asp-action="Index"><div class=""><img src="~/assets/logo/onlinestorelogo.svg" class="MainLogo"></div></a>
        </div>

        <div class="top-bar__right">
            <div class="search me-2">
                <input type="text" placeholder="Search..." class="searchinput">
                <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="account"><i class="fa fa-user" aria-hidden="true"></i> Account</div>
            <div class="shopping"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping</div>
            <div class="hamburger">
                <i class="fa fa-bars burger"></i>
            </div>

        </div>
    </header>
    <div class="menu">
        <span class="close-button">&times;</span>
        <nav class="mobile-nav">
            <ul>
                <li onclick="location.href='@Url.Action("Index", "Home")'"><a href="#" class="text-decoration-none"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li onclick="location.href='@Url.Action("Products", "Home")'"><a href="#" class="text-decoration-none"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Products</a></li>
                <li onclick="location.href='@Url.Action("Products", "Home")'"><a href="#" class="text-decoration-none"><i class="fa fa-archive" aria-hidden="true"></i> Packages</a></li>
                <li onclick="location.href='@Url.Action("Products", "Home")'"><a href="#" class="text-decoration-none"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping</a></li>
                <li onclick="location.href='@Url.Action("Products", "Home")'"><a href="#" class="text-decoration-none"><i class="fa fa-user" aria-hidden="true"></i> User</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="">
    <img class="AddtocartMain" src="https://i.pinimg.com/originals/bf/45/72/bf45724399d8ab9aa70a633c0555a97d.gif" />
</div>